<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="/css/bootstrap.min.css" />
	<link rel='stylesheet' href="/css/style.css" />
    <link rel='stylesheet' href="/css/font-awesome.min.css" />
    <script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <center><h3>Click game</h3></center>
            </div>
        </div>
    </div>

    <div class="content">
        {{{body}}}
    </div>

    <div class="footer">
    </div>

</div> <!-- /container -->

</body>
</html>
